.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.theme-transition {
  transition: background-color 750ms ease-in-out, color 750ms ease-in-out;
}